/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2018, 9:38:02 AM
    Author     : Elio
*/
th,td{
    word-wrap: break-word;
}

.header{
    display:flex;

    padding: 10px 0 10px 0;
    border-bottom: 1px solid #29487d;
    background-color:#4267b2;
    color:white;
    align-items:center;
    font-size: 120%;
    height:50px;


}
.footer{
    text-align: center;
    color:#365899;
    background-color:#f2f3f5;
    font-size: 80%;
}
.menu-item a{
    color:white;

}
.menu-item a:hover{

    color:yellow;
}
.logo a{
    color:white;
}
.logo a:hover{
    color:white;
}
a{
    text-decoration: none;
    color:#1d2129;
    font-family: 'Lato', sans-serif; 
}
a:hover{

    color:greenyellow;

}
.menu{
    display:flex;
    padding-right: 50px;
    justify-content: flex-end;
    font-size: 80%;
    flex:1;
}

.logo{
    display:flex;
    padding-left: 50px;
    align-items: center;
    font-size: 120%;
    flex:1;
}
p a{
    color:greenyellow;
}
tr td a{
    color:blue;
}

tr td a:hover{
    color:#4CAF50;
}
.redhover:hover{
    color:red;
}

.logo img{
    height: 50px;
    width: auto;
    margin-right: 3px;
}
.page-title{
    text-align:center;
    flex:1;
}

html,body{
    margin: 0;
    padding:0;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;

}

.content{
    padding:10px 0 10px 0;
    background-color:#e9ebee;
    color:#1d2129;
    flex: 1;

}
.menu-item:hover{
    background-color:#3b5da0;
    padding:6px;
    margin: 2px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.menu-item{
    margin:8px;
}
.textarea{
    display:flex;
}
.button_block{

    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 10% 10px 10%;


}
.block{
    padding:0 0 8px 0;
    margin:25px 25px 25px 25px;
    background-color:#fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    display:flex;
    flex-direction:column;
    border: 1px solid #dddfe2;


}

.block .center{
    padding: 15px 10% 10px 10%;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 80%;
    flex-direction: column

}


.block-title{
    text-align:center;
    background-color:#f2f3f5;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    padding: 5px 0 5px 0;
    color:#365899;
    font-size: 100%;

}

.block .form{
    margin: 15px 10% 10px 10%;
    align-self: center;
    width:80%;
    max-width: 500px;
 }
.block .form2{
    margin: 15px 10% 10px 10%;
    align-self: center;
    width:80%;
    max-width: 700px;
}

.col-sm-2{
    font-weight: bold;
}
.btn-secondary{
    background-color: #718C00;
}




/************************Icon Styles|Mejor en otro archivo***************************/
/*Strong signal*/
.iconic-signal.iconic-signal-strong .iconic-signal-base {
    fill:#569e26;
}
.iconic-signal.iconic-signal-strong .iconic-signal-wave * {
    stroke:#569e26;
}

/*Medium signal*/
.iconic-signal.iconic-signal-medium .iconic-signal-base {
    fill:#efc411;
}
.iconic-signal.iconic-signal-medium .iconic-signal-wave * {
    stroke:#efc411;
}
.iconic-signal.iconic-signal-medium .iconic-signal-wave-outer {
    opacity:.3;
    stroke-width:.5;
}

/*Weak signal*/
.iconic-signal.iconic-signal-weak .iconic-signal-base {
    fill:#b52808;
}
.iconic-signal.iconic-signal-weak .iconic-signal-wave * {
    stroke:#b52808;
}
.iconic-signal.iconic-signal-weak .iconic-signal-wave-outer ,
.iconic-signal.iconic-signal-weak .iconic-signal-wave-middle {
    opacity:.3;
    stroke-width:.5;
}

/*No signal*/
.iconic-signal.iconic-signal-none .iconic-signal-base {
    fill:#848484;
}
.iconic-signal.iconic-signal-none .iconic-signal-wave * {
    stroke:#848484;
    opacity:.3;
    stroke-width:.5;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    opacity: 0.8;
    transition: 0.3s;
}
.button:hover {
    opacity:1;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
}