/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2018, 9:38:02 AM
    Author     : Elio
*/
th,td{
    word-wrap: break-word;
}

.header{
    padding: 5px 50px;
    border-bottom: 1px solid #29487d;
    background-color:#4267b2;
    color:white;
    align-items:center;
    font-size: 120%;
    max-height:60px;


}
.footer{
    text-align: center;
    color:#365899;
    background-color:#f2f3f5;
    font-size: 80%;
}

a{
    text-decoration: none;
}
a:hover{
    color: inherit;
}
a:hover .button2, a:hover .button{
    cursor: default;
    color:white;
}
.button:hover{
    text-decoration: none;
    color: white;
    cursor: default;

}
a:focus,.button:focus, .button2:focus{
    outline: 0;
}

.row-link{
    display: flex;
    width: 100%;
    color: #1d2129;
    text-decoration: none;
    justify-content: space-around;
    padding: 5px 5px;
    height: 30px;
    min-width: 450px;
    max-width: 600px;

}
.row-link:last-child{
    border-bottom: none;
}
.row-link:first-child{
    border-top: none;
}

.row-link:hover{
    color: white;
    background-color: #569e26;
    text-decoration: none;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    font-size: 14px;
    height: 30px;
    width: 120%;
    padding: 4px 4px;
    min-width: 540px;
    max-width: 720px;


}
.color1{
    background-color: #fff;
}
.color0{
    background-color: #f2f3f5;
}


.column a:hover {
    text-decoration: none;
}
.column-fixed{
    display: flex;

    flex-wrap: nowrap;

}
.column-fixed-phone{
    display: flex;


}
.logo a{
    color:white;
    white-space:nowrap;
}
.column img{
    height: 20px;
    width: auto;
    align-self: baseline;
}
.center img{
    height: 20px;
    width: auto;
    margin-right: 3px;
    align-self: baseline;
}
.row-center{
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.flex img{
    height: 15px;
    width: auto;
    margin-right: 3px;
    align-self: baseline;
}
.text-red{
    font-size: 14px;
    color:red
}
.block-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo a:hover{
    color:white;
}
.no-wrap{
    min-width: 73.5px;
}


.menu{
    display:flex;
    justify-content: flex-end;
    font-size: 80%;
    flex:1;

}
nav{
    display: flex;
}

nav ul{

    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: 80%;
    margin: 0;

}

nav ul li{
    position: relative;
    white-space:nowrap;
    text-align: center;
}
nav ul li:hover ul{
    display: flex;

}
nav ul li ul li{
    display: flex;
    background-color:#4267b2 ;
    justify-content: center;

}
.has-children ul{
    display: none;
    position: absolute;
    flex-direction: column;
    padding-top: 15px;

}


nav ul a{
    text-decoration: none;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color:white;
    margin:10px;

}
nav ul a:hover{
    text-decoration: none;
    background-color:#3b5da0;
    padding:8px;
    margin: 2px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color:greenyellow;

}
.logo{
    display:flex;

    align-items: center;
    font-size: 120%;
    flex:1;
}

tr td a{
    color:blue;
}

tr td a:hover{
    color:#4CAF50;
}
.redhover:hover{
    color:red;
}



.orangehover:hover{
    color:yellowgreen;
}

.logo img{
    height: 50px;
    width: auto;
    margin-right: 3px;
}
.page-title{
    text-align:center;
    flex:1;
    min-width: 150px;
}

html,body{
    margin: 0;
    padding:0;
    background: #fff;
    height: 100%;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    min-width: 600px;
    display: flex;
}

.content{
    padding:10px 0 10px 0;
    background-color:#e9ebee;
    color:#1d2129;
    flex: 1;

}
.menu-item:hover{
    background-color:#3b5da0;
    padding:6px;
    margin: 2px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.textarea{
    display:flex;
}
.button_block{

    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 10% 10px 10%;


}
.block{
    padding:0 0 8px 0;
    margin:25px 25px 25px 25px;
    background-color:#fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    display:flex;
    flex-direction:column;
    border: 1px solid #dddfe2;


}
.error-block{
    padding:8px 0 8px 0;
    margin:0px 25px 10px 25px;
    color: white;
    background-color:red;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    display:flex;
    flex-direction:column;
    border: 1px solid #dddfe2;
    text-align: center;

}
.block .center{
    padding: 15px 10% 10px 10%;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 80%;
    flex-direction: column

}
.profile-table{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.profile-table2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.profile-table2 .row2{
    display: flex;
    width: 350px;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.specialty-table{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.specialty-table .row{
    justify-content: center;
}
.history-table, .pet-table{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.pet-table .row:first-child{
    border-top: 0;
    padding-top: 0;
    margin-bottom: 3px;
}
.lef-pad{
    padding-left: 5px;
}
.pet-table .row{
    border-top: 1px solid rgba(0,0,0,.2);
    padding-top: 3px;
    margin-bottom: 3px;
}
.row{
    flex-wrap: nowrap;
}
.block-title{
    text-align:center;
    background-color:#f2f3f5;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    padding: 5px 0 5px 0;
    color:#365899;
    font-size: 100%;

}

.block .form{
    margin: 15px 10% 10px 10%;
    align-self: center;
    width:80%;
    max-width: 500px;
 }
.block .form2{
    margin: 15px 10% 10px 10%;
    align-self: center;
    width:80%;
    max-width: 500px;
}

.col-sm-2{
    font-weight: bold;
}
.btn-secondary{
    background-color: #718C00;
}

/************************Icon Styles|Mejor en otro archivo***************************/
/*Strong signal*/
.iconic-signal.iconic-signal-strong .iconic-signal-base {
    fill:#569e26;
}
.iconic-signal.iconic-signal-strong .iconic-signal-wave * {
    stroke:#569e26;
}

/*Medium signal*/
.iconic-signal.iconic-signal-medium .iconic-signal-base {
    fill:#efc411;
}
.iconic-signal.iconic-signal-medium .iconic-signal-wave * {
    stroke:#efc411;
}
.iconic-signal.iconic-signal-medium .iconic-signal-wave-outer {
    opacity:.3;
    stroke-width:.5;
}

/*Weak signal*/
.iconic-signal.iconic-signal-weak .iconic-signal-base {
    fill:#b52808;
}
.iconic-signal.iconic-signal-weak .iconic-signal-wave * {
    stroke:#b52808;
}
.iconic-signal.iconic-signal-weak .iconic-signal-wave-outer ,
.iconic-signal.iconic-signal-weak .iconic-signal-wave-middle {
    opacity:.3;
    stroke-width:.5;
}

/*No signal*/
.iconic-signal.iconic-signal-none .iconic-signal-base {
    fill:#848484;
}
.iconic-signal.iconic-signal-none .iconic-signal-wave * {
    stroke:#848484;
    opacity:.3;
    stroke-width:.5;
}

.button {
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    border-radius: unset;
    color: white;
    padding: 4px 14px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    opacity: 0.8;
    transition: 0.3s;
}
.button:hover {
    text-decoration: none;
    opacity:1;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
}
.row-option{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

.first-option{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px ;
}
.row-option .column{
    margin-right: 5px;
}

.dateTime{
    display:flex;
    flex-direction: column;
    border-radius: 1px;
    border: skyblue solid;
}

.column{
    display: flex;
    flex-direction: column;

    padding: 0 10px;
}
.align-center{
    justify-content: space-around;
}
.column *{
    display: flex;

}
.block-option{
    display: flex;
    justify-content: center;
}
.e * {
    display: flex;
    flex: 1;
    margin-bottom: 2px;
}
.genForm{
    display: flex;
    flex-direction: row;
}

.button2 {

    border: none;
    color: white;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    opacity: 0.8;
    transition: 0.3s;
}
.blue {
    background-color: deepskyblue; /* Green */
}

.button2:hover {
    opacity:1;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
}

.gray {
    background-color: gray;

}
.col-form-label{
    font-size: 80%;
    line-height: 1.2;
}
.form-control{
    line-height: 1.2;
    font-size: 80%;
}

.specialty-link{
    display: flex;
    padding: 20px 10px 20px 10px;
    border:1px solid #2196F3; color:#2196F3;

}
.specialty-link:hover{
    box-shadow:inset 20px 0 #2196F3,inset -20px 0 #2196F3,inset 0 20px #2196F3,inset 0 -20px #2196F3;
    color:#fff;
}
.specialty-table .row{
    margin-top: 10px;
}
.specialty-table .row:first-child{
    margin-top: 0;
}
a .specialty-link{
    background-color: #5eb5e0;
    justify-content: center;
    align-items: center;
    transition:.2s; background:0;
    height:40px; width:100px;
    color: #2196F3;
    border: 1px solid #2196F3;
}
.specialty-table a{
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.4)
}
.specialty-link-vet:hover{
    box-shadow:inset 20px 0 #4CAF50,inset -20px 0 #4CAF50,inset 0 20px #4CAF50,inset 0 -20px #4CAF50; /*negative is really allowed*/
    color:#fff;
}
a .specialty-link-vet{
    background-color: #4CAF50;
    justify-content: center;
    align-items: center;
    transition:.2s; background:0;
    height:40px; width:100px;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}
.specialty-link-vet {
    display: flex;
    padding: 20px 10px 20px 10px;
    border: 1px solid #4CAF50;
    color: #4CAF50;
}