{% extends 'index.html.twig' %}
{% block title %}Appointments{% endblock %}
{% block page_title %}Add Appointment{% endblock %}
{% block content %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
    <div class="block">
        <div class="block-title">Filter Options </div>
        <div class="center">
		<p>
			{{ date.format('Y-m-d H') }}
		</p>
		<p>	
			<a href='/appointments/add?date={{ date.format('Y-m-d H:i:s') }}'>Aceptar</a>
		 </p>
        </div>
    </div>
{% endblock %}