{% extends 'index.html.twig' %}
{% block title %}Appointments{% endblock %}
{% block page_title %}Add Appointment{% endblock %}
{% block content %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
    <div class="block">
        <div class="block-title">Filter Options </div>
        <div class="center">

		<p>
            <select>
                <option value="volvo">AM</option>
                <option value="saab">PM</option>
            </select>
		</p>
		<p>
            {{ date.format('Y-m-d H') }}
            <p>

                <a href='{{ path('persistAppointment', {'date': date.format('Y-m-d H:i:s')}) }}'>Acept</a>
                <a href='{{ path('generateAppointment', {'date': date.format('Y-m-d H:i:s'),'options': 'm' }) }}'>Next</a>
            </p>

		 </p>
        </div>
    </div>
{% endblock %}


