{% extends 'index.html.twig' %}
{% block title %}Appointments{% endblock %}
{% block page_title %}Add Appointment{% endblock %}
{% block content %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
    <div class="block">
        <div class="block-title">Filter Options </div>
        <div class="center">
			{{ date }}
        </div>
    </div>
{% endblock %}