{% extends 'index.html.twig' %}
{% block title %}Select specialty{% endblock %}
{% block page_title %}Specialties{% endblock %}
{% block content %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
    <div class="block">
        <div class="block-title">Select medical specialty for the appointment</div>
        <div class="center">

			<a href={{ path('generateAppointment',{'specialty': 'neurology'}) }}><div class='specialty-link' >Neurology </div></a>
            <a href={{ path('generateAppointment',{'specialty': 'traumatology'}) }}><div class='specialty-link' >Traumatology </div></a>
            <a href={{ path('generateAppointment',{'specialty': 'dermatology'}) }}><div class='specialty-link' >Dermatology </div></a>
            <a href={{ path('generateAppointment',{'specialty': 'geriatrics'}) }}><div class='specialty-link' >Geriatrics </div></a>
        </div>
    </div>
{% endblock %}


