{% extends 'index.html.twig' %}
{% block title %}DB Test{% endblock %}
{% block page_title %}DB Test{% endblock %}
{% block content %}
    <div class="block">
        <div class="block-title">Name</div>
        <p> {{ name }}</p>
    </div>
{% endblock %}