{% extends "index.html.twig" %}

{% block content %}

	
	{% for appoint in appointments %}
		{% if is_granted('ROLE_USER') %}
			{% set text = 'Cita con el doctor: ' ~ appoint.doctor.username %}
			
		{% elseif is_granted('ROLE_DOC') %}
			{% set text = 'Cita con el paciente: ' ~ appoint.patient.username %}
			
		{% endif %}
			<div class="block">
				<div class="block-title"> {{ appoint.date | date('m-d-Y H:i:s') }} </div>
				<div class="center">{{ text }}
					<a href='/appointments/remove?id={{ appoint.id }}'>Remove</a>
				</div>
			</div>	
		{% endfor %}
	
{% endblock %}