{% extends 'index.html.twig' %}
{% block title %}Log{% endblock %}
{% block page_title %}Authentication{% endblock %}
{% block content %}
    <div class="block">
        <div class="block-title">User Log-in Data</div>
        <div class="form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}